#home {
    height:100vh;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(../assets/hairBackground1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 10vh center;
    background-attachment:fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-weight: 700; 
    padding:2rem;    
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

.home-name {
    font-family: var(--hero-font); 
    font-size: 6rem;
    color: var(--white);
    margin-bottom: 40px;
    text-align:center;
    font-weight: 700;
    animation:1.5s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.home-profession { 
    color: var(--white);
    margin-bottom: 40px;
    text-align:center;
    text-transform: uppercase;
    font-weight:300;
}

.home-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--button-green);
    padding: 1rem 2rem;
    background-color: var(--button-green);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.home-button:hover {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green);
}

.home-button:focus {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

@media screen and (min-width: 576px){}

@media screen and (min-width: 768px){

    #home {
        padding: 2rem 5rem 2rem 5rem;
    }

    .home-name {
        font-size: 7rem;
    }
}    

@media screen and (min-width: 992px){
    .home-name {
        font-size: 8rem
    }

    .home-profession {
        font-size: 2rem
    }

}