#price{
    width:100%;
    padding:4rem 2rem 4rem 2rem; 
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),url(../assets/salon2jpg.jpg ); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    align-items:center;
    overflow:hidden;
}


#pricelist{
    padding:10vh 2rem 2rem 2rem;  
    background-image: url(../assets/ChrissieLogotransparent.png ), linear-gradient(90deg,rgba(57,197,199,1),rgba(244,221,95,0.8));
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size:100%;
    text-align:left;
    width:80vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    overflow:hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    padding:30px;
    margin-top: 30px;
}

.pricelist-title{
    position:relative;
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 30px;
    letter-spacing:0.1rem;
    color: var(--black);
}

.pricelist-table{
    width:100%;
    border-collapse: collapse;
    border-style: hidden;
}

td,th{
    padding:10px 10px 10px 10px;
}

th{
    font-size: 1.2rem;
    border:0px solid;
    border-bottom: 2px solid var(--black);
}

.price-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--button-green);
    padding: 1rem 2rem;
    background-color: var(--button-green);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
    z-index: 1;
    font-weight: 700;
    margin-top: 30px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.price-button:hover {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green);
}

.price-button:focus {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}


@media screen and (min-width: 576px){
    #pricelist{
        width:70vw;
    }
    td,th{
        padding:10px 40px 10px 40px;
    }
    
    
}

@media screen and (min-width: 768px) {

    #pricelist{
        width:60vw;
    }
   
    td,th{
        padding:10px 50px 10px 50px;
    }
}

@media screen and (min-width: 992px) {

    
    #pricelist{
        width:600px;
    }
   
    td,th{
        padding:10px 70px 10px 70px;
    }
}
