*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --dark-brown: #201613;
    --button-green: #82E25F;
    --main-font: 'Poppins', sans-serif;
    --hero-font: 'Qwitcher Grypen', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

/*--------------------------------Header-----------------------------------------*/

#header {
    background-color: var(--dark-brown);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 10;
    padding: 1rem 2rem;
    font-weight: 700;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
}

.header-list {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    position:fixed;
    top:10vh;
    background-color: var(--dark-brown);
    height:300px;
    width:50vw;
    min-width:150px;
    max-width:200px;
    right:-200px;
    visibility:hidden;
    transition: right 0.4s, visibility 0.4s;
}

header a {
    color: var(--white); 
}

header a:hover {
    color: var(--button-green); 
}

.header-list-item {
    margin: 0 auto;
}

.logo {
    height: 14vh; 
    padding:0.5rem;
    position: relative;
    left:-1.5rem; 
    top:0.2rem;
}

.nav-checkbox{
    display:none;
}

.nav-checkbox:checked ~ .header-list {
    right:0;
    visibility:visible;
    box-shadow: -20px 20px 40px rgba(0,0,0,0.5);
}

.nav-label{
    width:40px;
    height:40px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    cursor:pointer;
}

.nav-checkbox-line{
    width:40px;
    height:5px;
    background-color: var(--white);
    border-radius:5px;
    transition: all 0.3s ease-in-out;
}

.nav-checkbox:checked + .nav-label > .line-one {
    margin-top:13px;
    transform: rotate(+45deg);
} 

.nav-checkbox:checked + .nav-label > .line-two {
    transform: rotate(135deg);
    margin-top:-14px;
}

.nav-checkbox:checked + .nav-label > .line-three {
    opacity:0;
} 

@media screen and (min-width: 768px){

    .header-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 65vw;
        visibility:visible;
        position:static;
        max-width:70vw;
        height:10vh;
    } 

    .nav-label {
        display:none;
    }
    
    .header-list-item a {
        color: var(--white);
        font-size: 1.25rem;
        transition: color 0.4s;
    }

    .header-list-item a:hover {
        color: var(--button-green);
    }

    

    #header {
        padding: 1rem 3rem;
    }
}

@media screen and (min-width: 992px){

    #header {
        padding: 1rem 5rem;
    }

    .header-list {
        width: 55vw;
    }

    .header-list-item a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px){

    .header-list {
        width: 50vw;
    }

}

@media screen and (min-width: 1400px){

    .header-list {
        width: 40vw;
        max-width: 40vw;
    }

}
/*--------------------------------Home-------------------------------------------*/

#home {
    height:100vh;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(./assets/hairBackground1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 10vh center;
    background-attachment:fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-weight: 700; 
    padding:2rem;    
}

.home-name {
    font-family: var(--hero-font); 
    font-size: 6rem;
    color: var(--white);
    margin-bottom: 40px;
    text-align:center;
    font-weight: 700;
}

.home-profession { 
    color: var(--white);
    margin-bottom: 40px;
    text-align:center;
    text-transform: uppercase;
    font-weight:300
}

.home-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--button-green);
    padding: 1rem 2rem;
    background-color: var(--button-green);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
    z-index: 1;
}

.home-button:hover {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green);
}

.home-button:focus {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

@media screen and (min-width: 576px){}

@media screen and (min-width: 768px){

    #home {
        padding: 2rem 5rem 2rem 5rem;
    }

    .home-name {
        font-size: 7rem;
    }
}    

@media screen and (min-width: 992px){
    .home-name {
        font-size: 8rem
    }

    .home-profession {
        font-size: 2rem
    }

}

/*--------------------------------About-----------------------------------------*/

#about {
    padding:10vh 2rem 2rem 2rem;  
    background-image: url(./assets/ChrissieLogowhite.png ), linear-gradient(90deg,rgba(200,80,46,0.5),rgba(244,221,95,0.5));
    background-position:bottom right;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100vw;
}

.about-title {
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 30px;
    letter-spacing:0.1rem;
}

.about-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.about-picture-container{
    position:relative;
}

.about-picture {    
    border: solid 2px;
    border-color: var(--dark-brown); 
    max-width:250px;
    min-width: 200px;
    width:100%;
    height:auto;
}

.rectangle {
    height: 102%;
    max-width: 250px;
    min-width:200px;
    min-height: 410px;
    width: 100%;
    border: solid 2px;
    border-color: var(--dark-brown); 
    position: absolute;
    top:-10px;
    left:10px;
    bottom:10px;
}

.about-introduction {
    padding:20px;
}


.about-buttons {
    margin-top:10px;
    margin-bottom:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}


.contact-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--button-green);
    padding: 1rem 2rem;
    background-color: var(--button-green);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.contact-button:hover {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green)
}

.contact-button:focus {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green)
}

.services-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--button-green);
    padding: 1rem 2rem;
    background-color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.services-button:hover {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green)
}

.services-button:focus {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green)
}

.about-name {
    font-size: 1.5rem;
    font-weight:700;
    margin-bottom: 5px;
    margin-top:5px;
}

.about-profession {
    margin-bottom: 20px;
}

.about-paragraph {
    margin-bottom:20px;
}

@media screen and (min-width: 576px){

    #about {
        background-size:  50vw, 100vw;
    }

    .about-picture {        
        max-width: 200px;
        
    }
    
    .about-container { 
        display:inline-block;

    }

    .about-picture-container {
        float: left;
        margin:35px 20px 5px 20px;
    }

    .about-buttons {
        flex-direction: row;
        justify-content: center;
    }
    
}

@media screen and (min-width: 768px){   

    #about {
        padding: 10vh 5rem 2rem 5rem;
    }
}

@media screen and (min-width: 992px){

    #about {
        background-size: 35%, 100%;
        padding-bottom: 5rem;
    }

    .about-container {
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:start;
        position: relative;
    }


    .about-picture {        
        min-width: 280px;
        max-width:320px;
    }

    .rectangle {
        max-width:320px;
    }

    .about-content {
        max-width: 800px;

    }
    .about-name {
        font-size: 2rem;
    }

    .about-hello {
        font-size: 1.5rem;
    }

    .about-profession {
        font-size: 1.5rem;
    }
    
    .skill-title {
        font-size: 1.5rem;
    }

    .about-buttons {
        margin-top: 0px;
        gap: 30px;
        justify-content: flex-start;
        padding:0px 20px;
    }
}


/*--------------------------------Services-----------------------------------------*/

#services {
    background-image: linear-gradient(90deg,rgba(244,221,95,1),rgba(57,197,199,1));
    padding:10vh 2rem 4rem 2rem; 
}

.services-title {
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 15px 15px 50px 15px;
    letter-spacing:0.1rem;
}

.services-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
}

.services-item {    
    width:60vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    cursor:pointer;
    transition: transform 0.4s;
}

.services-picture {
    height:65vw;
    width: 100%;
    object-fit:cover;
    object-position:top;
}

.services-item-content {
    padding:20px;
    text-align: center;
    color: var(--black);
}


.services-item-title{
    margin-bottom: 10px;
}
.services-text{
    font-size: 0.7rem;
}

.services-item:hover{
    transform:scale(1.1);
}

@media screen and (min-width: 576px){

    .services-item {
        width:40vw;       
    }

    .services-picture {
        height:45vw;
        
    }
}

@media screen and (min-width: 768px){   

    #services {
        padding: 10vh 3rem 4rem 3rem;
    }

    .services-item {
        width:35vw;
    
    }

    .services-picture {
        height: 40vw;
    }
}

@media screen and (min-width: 992px){

    
    .services-item {
        width: 20vw;
    }
    
    .services-picture {
       height:25vw;
    }
}
/*--------------------------------Contact-----------------------------------------*/

#contact {
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5)), url(./assets/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:10vh 2rem 4rem 2rem; 
}

.contact-title {
    position:relative;
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 30px;
    letter-spacing:0.1rem;
    color: var(--black);
}

.contact-me-text{
    position:relative;
    display:block;
    text-align:center;
    max-width:600px;
    margin:auto;
    font-weight:700;
}

.contact-form-field {
    display: flex;
    flex-direction: column;
    align-content:space-between;
}

.contact-form-container{
    background-image: linear-gradient(90deg, rgba(200,80,46,0.9),rgba(57,197,199,0.5) );
    position:relative;
    box-shadow: rgba(0,0,0,.2) 0 7px 29px 0;
    border: 2px solid var(--black);
    padding: 20px;
    max-width: 600px;
    text-align:left;
    width: 95%;
    margin:20px auto 0 auto;
}

.contact-form-label{
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

.contact-form-input{
    color: var(--gray);
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--white);
    background: var(--white);
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: var(--main-font);
}

.contact-form-input:focus{
    outline: 3px solid var(--button-green);
}

.submit-btn{
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--button-green);
    padding: 1rem 2rem;
    background-color: var(--button-green);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
}
    
.submit-btn:hover {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green)
}

.submit-btn:focus {
    background: var(--white);
    border: 4px solid var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--button-green)
}

/*--------------------------------Footer-----------------------------------------*/

#footer {
    background-color: var(--dark-brown);
    padding:2rem 2rem 4rem 2rem; 
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:20px;
}

.footer-opening {
    color: var(--white);
    margin:20px;
}

.opening-title {
    margin-bottom:10px;
}

.footer-contact{
    margin: 20px;
}

.footer-phone{
    color:var(--white);
    margin-bottom:20px;
}

.footer-location{
    color:var(--white);
    margin-bottom: 20px;
}

.google-map{
    position:relative;
    height:300px;
    width:80vw;
    object-fit: contain;
    overflow: hidden;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.footer-social{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:80vw;
}

.footer-social-item a{
    display:block;
    height:60px;
    width:60px;
    line-height:60px;
    color: var(--button-green);
    border:2px solid var(--button-green);
    border-radius: 50%;
    background-color: var(--white);
    font-size: 2rem;
    text-align:center;
    margin:20px;
}

.footer-social-item a:hover{
    color: var(--white);
    background-color: var(--button-green);
    box-shadow: 1px 1px 5px 1px var(--white);
}
   

.top-btn {
    color:var(--button-green);
    font-size: 2rem;
    position:fixed;
    bottom:2rem;
    right:0.5rem;
    margin-top:100vh;
}

.top-btn:hover {
    color:var(--white);
}

.footer-copyright-item {
    font-size:0.7rem;
    color: var(--white);
    text-align:center;
}

@media screen and (min-width: 576px){
    .google-map{
        width:60vw;
    }
}

@media screen and (min-width: 768px) {
    .top-btn{
        right:2rem;
    }
}

@media screen and (min-width: 992px) {

    .google-map{
        width:40vw;
    }

    .footer-copyright-item{
        width:80vw;
    }

}

/*--------------------------------Services-----------------------------------------*/
#services-page{
    width:100%;
    padding:4rem 2rem 4rem 2rem; 
    background-image: linear-gradient(90deg,rgba(244,221,95,1),rgba(57,197,199,1));
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
}

.services-page-title{
    position:relative;
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 30px;
    letter-spacing:0.1rem;
    color: var(--black);
}

.services-section {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-items:center;
    overflow:hidden;
    padding-top:10vh;
}

.scroll-image{
    mask-image: linear-gradient(90deg, transparent, #ffffff 20%, #ffffff 80%, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:90vw;
}

.scroll-image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(200px*10);
    animation: animate 20s linear infinite;
    animation-delay: -20s;
}

#pricelist{
    padding:10vh 2rem 2rem 2rem;  
    background-image: url(./assets/ChrissieLogowhite.png ), linear-gradient(90deg,rgba(57,197,199,0.5),rgba(255, 255, 255, 0.9));
    background-position:bottom right;
    background-repeat: no-repeat;
    text-align:left;
    width:80vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    padding:30px;
    margin-top: 30px;
}

.pricelist-title{
    position:relative;
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 30px;
    letter-spacing:0.1rem;
    color: var(--black);
}

.pricelist-table{
    width:100%;
    border-collapse: collapse;
    border-style: hidden;
}

td,th{
    padding:10px 40px 10px 40px;
}

th{
    font-size: 1.2rem;
    border:0px solid;
    border-bottom: 2px solid var(--black);
}


@keyframes animate{
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(calc(200px*-5))
    }
}

.slide {
    width:200px;
    padding:20px;
    transition: 0.4s;  
}

.slide img{
    width:160px;
    height:250px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    object-fit: cover;
}

.scroll-image-container:hover {
    animation-play-state: paused;
}

.scroll-image-container img:hover {
    cursor:pointer;
    filter:grayscale(0);
    transform:scale(1.3);
}

@media screen and (min-width: 576px){
    #pricelist{
        width:70vw;
    }
    td,th{
        padding:10px 50px 10px 50px;
    }
    
    
}

@media screen and (min-width: 768px) {
    .scroll-image{
        width:80vw; 
    }
    
    .slide {
        width:300px; 
    }

    .slide img{
        width:260px;
        height:400px;
    }

    .scroll-image-container{
        width: calc(300px*10);
    }

    @keyframes animate{
        0%{
            transform: translateX(0%)
        }
        100%{
            transform: translateX(calc(300px*-5))
        }
    }

    #pricelist{
        width:60vw;
    }
   
    td,th{
        padding:10px 60px 10px 60px;
    }
}

@media screen and (min-width: 992px) {

    .scroll-image{
        width:70vw; 
    } 
    
    #pricelist{
        width:600px;
    }
   
    td,th{
        padding:10px 70px 10px 70px;
    }
}

